<!doctype html>
<html class="no-js" lang="">
    {% block head %}
        {% include 'head.twig' %}
    {% endblock %}
    {% block body %}
        Content
    {% endblock %}
    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
    </body>
</html>