<!doctype html>
<html class="no-js" lang="">
    {% block head %}
        {% include 'head.twig' %}
    {% endblock %}
    {% block body %}
        {% block header %}
            {% include 'header.twig' %}
        {% endblock %}
    {% endblock %}
    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
    </body>
</html>