<header class="header" role="header">
    <div class="header__wrap">
        <div class="header__brand">
            <a href="{{ site.url }}"><span class="brand">{{ site.title }}</span></a> <span class="description">{{ site.description }}</span>
        </div>
        <nav class="header__nav" role="navigation">
            Menu goes here.
        </nav>
    </div>
</header>